/* 1-2 */
h1 {
  text-align: center;
  color: blue;
}

/* 3-4 */
h2 {
  text-align: center;
  color: rgb(23, 179, 231);
}


/* 5-8 */
p {
   border: 1px dotted black;
   word-wrap: break-word;
   width: 350px; 
   word-break: keep-all;
}

/* 9-14 */
img {
  width: 25%;
  border-radius: 8px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}


/* 15 */
body {
  background-color: aliceblue;
}

/* 16-19 */
table, th, td {
  border: 1px groove rgb(10, 60, 124);
  height: 50px;
  vertical-align: middle;
  padding: 15px;
  margin-left: auto; 
  margin-right: auto;
}

/* 20-22 */
h4 {
  text-decoration: underline;
  text-align: center;
  color: rgb(10, 60, 124);
}